@mixin _320 {
  @media (min-width: 320px) {
    @content;
  }
}

@mixin _640 {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin _960 {
  @media (min-width: 960px) {
    @content;
  }
}

@mixin _1280 {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin _1600 {
  @media (min-width: 1600px) {
    @content;
  }
}

:root {
  --grey-light: #F6F6F6;
  --grey-dark: #E6E6E6;
  --white: #ffffff;
  --blue: #00BEDB;
  --orange: #FF8400;
  --red: #EF463B;
  --dark: #323E48;
  --gap: 10px;
  @include _640 {
    --gap: 15px;
  }
}